In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df_glucose = pd.read_excel('glucose.xlsx')

In [3]:
df_glucose.head()

   subject  age  glucose_level
0        1   43             99
1        2   21             65
2        3   21             79
3        4   42             75
4        5   57             87

In [4]:
df_glucose.columns

Index(['subject', 'age', 'glucose_level'], dtype='object')

In [5]:
lr = LinearRegression()
linear_model = lr.fit(df_glucose[['age']], df_glucose.glucose_level)

In [6]:
linear_model.score(df_glucose[['age']],df_glucose.glucose_level)

0.2602492793991905

In [42]:
import numpy as np
predict_age = np.linspace(1, 100, 100).reshape(100, 1)
predict_age

array([[  1.],
       [  2.],
       [  3.],
       [  4.],
       [  5.],
       [  6.],
       [  7.],
       [  8.],
       [  9.],
       [ 10.],
       [ 11.],
       [ 12.],
       [ 13.],
       [ 14.],
       [ 15.],
       [ 16.],
       [ 17.],
       [ 18.],
       [ 19.],
       [ 20.],
       [ 21.],
       [ 22.],
       [ 23.],
       [ 24.],
       [ 25.],
       [ 26.],
       [ 27.],
       [ 28.],
       [ 29.],
       [ 30.],
       [ 31.],
       [ 32.],
       [ 33.],
       [ 34.],
       [ 35.],
       [ 36.],
       [ 37.],
       [ 38.],
       [ 39.],
       [ 40.],
       [ 41.],
       [ 42.],
       [ 43.],
       [ 44.],
       [ 45.],
       [ 46.],
       [ 47.],
       [ 48.],
       [ 49.],
       [ 50.],
       [ 51.],
       [ 52.],
       [ 53.],
       [ 54.],
       [ 55.],
       [ 56.],
       [ 57.],
       [ 58.],
       [ 59.],
       [ 60.],
       [ 61.],
       [ 62.],
       [ 63.],
       [ 64.],
       [ 65.],
       [ 66.],
       [ 67.],
       [ 68.],
       [ 69.],
       [ 70.],
       [ 71.],
       [ 72.],
       [ 73.],
       [ 74.],
       [ 75.],
       [ 76.],
       [ 77.],
       [ 78.],
       [ 79.],
       [ 80.],
       [ 81.],
       [ 82.],
       [ 83.],
       [ 84.],
       [ 85.],
       [ 86.],
       [ 87.],
       [ 88.],
       [ 89.],
       [ 90.],
       [ 91.],
       [ 92.],
       [ 93.],
       [ 94.],
       [ 95.],
       [ 96.],
       [ 97.],
       [ 98.],
       [ 99.],
       [100.]])

In [60]:
predicted_glu = pd.DataFrame(linear_model.predict(predict_age), columns = ['glucose'])
predicted_glu['age'] = predict_age
predicted_glu.to_csv('smaple.csv')